$primary-font-color: #333333;
$secondary-font-color: #15847b;
$primary-color: #d82034;
$primary-font-family: 'Calibri', sans-serif;
$header-font-family-bold: 'LegacySerifITC W02 Bk Bold', sans-serif;
$header-font-family-italic: 'LegacySerifITC W02 Bk It', sans-serif;
$header-font-family-regular: 'LegacySerifITC W02 Bk', sans-serif;
$gray-font-color: #808080;
$white-color: #ffffff;
$gray-border-color: #cccccc;
$gray-color-50: #e5e5e5;
$gray-color-25: #fbfbfb;
$gray-color-500: #666666;
$gray-color-75: #f5f5f5;
$success-color: #91c045;
$box-shadow-red: #b4495e;
$assetPath: 'https://az-cdn.selise.biz/selisecdn/cdn/slnetwork/fonts/sk/';

$grid-width: 1070px;
$gutter-vertical: 30px;
$gutter-horizontal: 20px;